[mysqld]
user=mysql
default-storage-engine	= INNODB
#character-set-server=utf-8
server-id		= 1
#log-bin			= /var/log/mysql/mysql-bin.log
binlog-format		= ROW

[client]
#default-character-set=utf-8
[mysql]
#default-character-set=utf8
