# zookeeper
zookeeper/zoo1/
zookeeper/zoo2/
zookeeper/zoo3/
zookeeper/instance
docker/zookeeper/instance

# mysql
mysql/instance
docker/mysql/instance


# elasticsearch
elasticsearch/docker-compose-7.2.0/es1/data
elasticsearch/docker-compose-7.2.0/es1/plugins
elasticsearch/docker-compose-7.2.0/es2/data
elasticsearch/docker-compose-7.2.0/es2/plugins
elasticsearch/docker-compose-7.2.0/logstash



elasticsearch/docker-compose-6.6.1/es1/data
elasticsearch/docker-compose-6.6.1/es1/plugins
elasticsearch/docker-compose-6.6.1/es2/data
elasticsearch/docker-compose-6.6.1/es2/plugins
elasticsearch/docker-compose-6.6.1/logstash

# mongo db
mongo/data/db
mongo/instance
docker/mongo/instance

# nginx
nginx/instance/log

# svn
svn/instance

# intellij
.idea
*.idea
*.iml
*/*.iml
*/*/*.iml
package-lock.json
*~
*/*~
*/*/*~
