# zookeeper
zookeeper/zoo1/
zookeeper/zoo2/
zookeeper/zoo3/


# mysql
mysql/data/
mysql/log/


# elasticsearch
elasticsearch/docker-compose-7.2.0/es1/data
elasticsearch/docker-compose-7.2.0/es1/plugins
elasticsearch/docker-compose-7.2.0/es2/data
elasticsearch/docker-compose-7.2.0/es2/plugins
elasticsearch/docker-compose-7.2.0/logstash



elasticsearch/docker-compose-6.6.1/es1/data
elasticsearch/docker-compose-6.6.1/es1/plugins
elasticsearch/docker-compose-6.6.1/es2/data
elasticsearch/docker-compose-6.6.1/es2/plugins
elasticsearch/docker-compose-6.6.1/logstash



# mongo db
mongo/data/db

# nginx
nginx/logs



